/* CSS Styling */
.horizontal-container {
  display: flex;       /* Aligns items horizontally */
  gap: 5px;           /* Adds space between the items */
  
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
}

.telemetry-table-container {
    background: rgba(0,0,0,0.45);
    height: 100%;
    border-radius: 8px;
    display: inline-block;
    font-family: Arial, sans-serif;
    padding: 5px;
}

.telemetry-table {
    border-collapse: collapse;
    color: white;
    font-size: 12px;
    font-weight: bold;
}


.telemetry-table .label {
    text-align: right;
    color: #bbbbbb;
}

.telemetry-table .value {
    text-align: left;
    min-width: 80px;
    color: white;
}

.boost-container{
    width:70px;
    height: 150;
    text-align:center;
    color:white;
    font-family:Arial;
}

.boost-label{
    font-size:24px;
    margin-bottom:6px;
    height:20
}

.boost-scale{
    position:relative;
    width:22px;
    height:100;
    margin:auto;
    background:#222;
    border:2px solid white;
}

.boost-zero{
    position:absolute;
    top:50%;
    width:100%;
    height:2px;
    background:white;
}

.boost-positive{
    position:absolute;
    bottom:50%;
    width:100%;
    height:0;
    background:#00ff00;
}

.boost-negative{
    position:absolute;
    top:50%;
    width:100%;
    height:0;
    background:#0090ff;
}